<div class="footer">
  <div class="row section1">
    <div class="col-12 col-md-5 col-lg-5">
      <h1>KRISHNPAL SINGH SOLANKI</h1>
      <h4>solankikaps111&commat;gmail.com</h4>
      <h4>+91 7877976163</h4>
    </div>
  </div>

  <div class="row section2">
    <div class="col-12 col-md-6 col-lg-6">
      <h5>Let's Connect</h5>
      <p>I'm always excited to collaborate on new projects and connect with fellow professionals in the industry. Feel
        free to explore my work and reach out if you'd like to discuss how we can work together to create something
        amazing!</p>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-6">
          <h5>Social media</h5>
          <p><a
              href="https://www.linkedin.com/in/krishnpal-singh-solanki-8454b4169?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              target="_blank">LinkedIn</a></p>
          <p><a href="https://www.instagram.com/krishnpal_singh_solanki_7?igsh=YnQxeThrOW45c2Rl"
              target="_blank">Instagram</a></p>
          <p><a href="https://www.facebook.com/krishnapalsingh.solankimagaratlav?mibextid=ZbWKwL"
              target="_blank">Facebook</a></p>
          <p> <a href="https://x.com/krishnpal1812?t=nejCJQsCKU66dbKbtZC0wA&s=09" target="_blank">Twitter</a></p>
        </div>
        <div class="col-6">
          <h5>Address</h5>
          <p>Magartalav <br> Desuri, Pali 306502<br> Rajasthan, India</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <h6>Made by Krishnpal Singh Solanki</h6>
    </div>
  </div>
</div>
