@import "../vars.scss";

.retroRides_aboutus {
  width: 100%;
  height: 100%;
  padding: 100px 150px;

  @include mobile() {
    padding: 60px 10px
  }

  .row {
    .section1 {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .heading {
        font-size: 3.25rem;
        font-weight: bold;

        span {
          color: #4ea751;
        }
      }
    }

    .section2 {
      padding: 5rem 0;
      display: flex;
      flex-direction: column;

      @include mobile() {
        padding: 0 10px;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
