<div class="retroRides_aboutus">
  <div class="row">
    <div class="col-12 section1">
      <p class="heading">About <span>Me</span></p>
    </div>
    <div class="col-12 section2">
      <p style="font-weight: 700;">
        A dedicated UI developer with a strong foundation in creating visually appealing and highly functional user
        interfaces. With 4 years of hands-on experience, I've had the opportunity to work on a diverse range of
        projects, each challenging me to push the boundaries of design and usability.</p>
      <h3>Journey</h3>
      <p>My journey into the world of UI development began with a passion for both technology and design. Over the
        years, I've honed my skills in HTML, CSS, JavaScript, and various front-end frameworks. I thrive on turning
        complex problems into elegant solutions, ensuring that every user interaction is smooth and enjoyable.</p>
      <h3>My Philosophy</h3>
      <p>I believe that a great user interface is more than just beautiful visuals—it's about creating an intuitive and
        engaging experience for the user. I focus on understanding the user's needs and behavior, which allows me to
        design interfaces that are not only aesthetically pleasing but also highly functional and accessible.</p>
      <h3>What I Do</h3>
      <ul>
        <li>Responsive Design: Ensuring that websites look great and work well on all devices</li>
        <li>User-Centered Design: Prioritizing the needs and preferences of users in every project.</li>
        <li>Front-End Development: Writing clean, efficient, and maintainable code.</li>
        <li>Collaboration: Working closely with designers, developers, and stakeholders to bring ideas to life.</li>
      </ul>
    </div>
  </div>
</div>
