<app-header></app-header>
<div class="dashboard">
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div id="home" class="container container_box row">
      <div class="contain1 col-12 col-md-6 col-lg-6 col-xl-6 xol-xxl-6">
        <p class="title">Hello! I'm <span>Krishnpal Singh</span></p>
        <p class="intro">A passionate UI developer with 4 years of experience in crafting intuitive and engaging user
          interfaces. My
          expertise lies in transforming complex ideas into seamless, user-friendly designs. I thrive on bringing
          creativity and technical skills together to deliver high-quality digital experiences. Explore my portfolio to
          see my work and learn more about my journey in UI development.</p>
        <ul class="btn">
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Me</a>
          </li>
        </ul>
      </div>
      <div class="contain2 col-12 col-md-6 col-lg-6 col-xl-6 xol-xxl-6">
      </div>
    </div>

    <div id="aboutus" class="about_us">
      <app-aboutus></app-aboutus>
    </div>

    <div id="skills" class="about_us">
      <app-skills></app-skills>
    </div>

    <div id="project" class="about_us">
      <app-collection></app-collection>
    </div>

    <div id="contact">
      <app-footer></app-footer>
    </div>
  </div>
</div>
