@import "../vars.scss";

.dashboard {
  display: grid;
  width: 100%;
}

.container_box {
  width: 100%;
  z-index: 1;
  padding: 0 150px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 10rem;

  @include mobile() {
    padding: 10px 8px;
    flex-direction: row;
    gap: 100px;
    height: auto;
  }

  .contain1 {
    position: relative;

    @include mobile() {
      top: 5rem;
    }

    h3 {
      position: relative;
    }

    .title {
      font-size: 3.5rem;
      font-weight: bold;

      @include mobile() {
        font-size: 1.8rem;
      }

      span {
        color: $pColor;
        display: block;

        @include mobile() {
          font-size: 2.2rem;
        }
      }
    }

    .intro {
      font-size: 1.2rem;
    }

    .btn {
      background-color: $pColor;
      color: white;
      position: relative;

      li {
        list-style: none;
      }
    }
  }

  .contain2 {
    display: flex;
    align-items: center;
    justify-content: end;

    @include mobile() {
      justify-content: unset;
    }

    img {
      position: relative;
      width: 26rem;
      height: 100%;
      border: 1px solid;
      border-radius: 15% 1% 15%;
      object-fit: cover;

      @include mobile() {
        right: unset;
      }
    }

    img:hover {
      transform: scale(1.25);
      transition: 0.3s all;
    }
  }
}
